*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

#container{
  width: 60%;
  margin: auto;
  /* debug */
  /* height: 100vh; */
  border: 2px solid black;
  padding: 20px 0 20px;
}

#container :first-child, #container :nth-child(2){
  margin-bottom: 20px;
}

header{
  height: 15vh;
  background-color: #E579E6;
}

.full-section{
  height: 40vh;
  background-color: #E1D67A;
}

.row{
  width:100%;
  background-color: blue;
}

.row:after{
  content:'';
  display: table;
  clear: both;
}

.row.head{
  height: 10vh;
  background-color: #ABCFE7;
}

.float{
  float: left;
  height: 40vh;
  margin: 5% 0;
  background-color: #ABCFE7;
  /* debug */
  border: 5px solid black;
}

.first, .third{
  width: 20%;
}

.second{
  width: 50%;
  margin-left: 5%;
  margin-right: 5%;
}

footer{
  margin-top: 10px;
  width:100%;
  height: 5vh;
  background-color: purple;
}
